[submodule "access"]
	path = access
	url = https://github.com/notify-ai-org/access.git
[submodule "api"]
	path = api
	url = https://github.com/notify-ai-org/api.git
[submodule "acp-server"]
	path = acp-server
	url = https://github.com/notify-ai-org/acp-server.git
[submodule "annotations"]
	path = annotations
	url = https://github.com/notify-ai-org/annotations.git
[submodule "client"]
	path = client
	url = https://github.com/notify-ai-org/client.git
[submodule "common"]
	path = common
	url = https://github.com/notify-ai-org/common.git
[submodule "engine"]
	path = engine
	url = https://github.com/notify-ai-org/engine.git
[submodule "examples"]
	path = examples
	url = https://github.com/notify-ai-org/examples.git
[submodule "notify-ui"]
	path = notify-ui
	url = https://github.com/notify-ai-org/notify-ui.git
[submodule "adk-java"]
	path = adk-java
	url = https://github.com/notify-ai-org/adk-java.git
